name: CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout código
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Instalar dependências
        run: npm install

      - name: Rodar testes
        run: npm test || echo "Sem testes"

      - name: Build Docker Image
        run: docker build -t ${{ github.repository }}:${{ github.sha }} .

      - name: Login no Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASS }}

      - name: Push da imagem
        run: |
          docker tag ${{ github.repository }}:${{ github.sha }} ${{ secrets.DOCKER_USER }}/${{ github.event.repository.name }}:latest
          docker push ${{ secrets.DOCKER_USER }}/${{ github.event.repository.name }}:latest
